<style>
    .menu{
        display:flex;
        list-style: none;
        margin: 20px;
        justify-content: center;
        
        }
    .opcao-menu{
        padding-left: 10px;
    }
</style>
<ul class="menu">
    <li class="opcao-menu"><a href="/">Pagina inicial</a></li>
    <li class="opcao-menu"><a href="/produtos/">Produtos</a></li>
    <li class="opcao-menu"><a href="#">Serviços</a></li>
    <li class="opcao-menu"><a href="#">Categoria</a></li>
    <li class="opcao-menu"><a href="#">Sobre-nós</a></li>
</ul>